<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <nav class="navbar">

    
        <div class="navbar__logo">
            <i class="fas fa-blog"></i>        
            <img src="img/logo.png" alt="HIS">
          </div>
    
        <ul class="navbar__menu">
          <li><a href="main">Home</a></li>
          <li><a href="/aboutMe">About ME</a></li>
          <li><a href="/projectPage">Project page</a></li>
          <li><a href="/servicesPage">Services Page</a></li>
          <li><a href="/contactMe">Contact Me</a></li>
        </ul>
  
        <ul class="navbar__icons">
          <li><i class="fab fa-google"></i></li>
          <li><i class="fab fa-slack"></i></li>
        </ul>
      </nav>
      
      <div class="aboutDiv">
      <p><strong>
        About
        <br>
        <br>
        Me
    </strong>
      </p>
      </div>
      <div class="aboutDiv">
        <img src="img/hoin.jpg" alt="">
      <p><strong>
        Hello, I'm Hoin Seok.<br>
        Programing is my Life and<br>
        I love to learn new Language<br>
        Java, React, DB<br>
        I'll be graduate Centennial Collge After two years.<br>
        </strong></p>
        </div>
</body>
</html>