<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <nav class="navbar">

        <div class="navbar__logo">
          <i class="fas fa-blog"></i>        
          <img src="img/logo.png" alt="HIS">
        </div>
  
        <ul class="navbar__menu">
          <li><a href="main">Home</a></li>
          <li><a href="/aboutMe">About ME</a></li>
          <li><a href="/projectPage">Project page</a></li>
          <li><a href="/servicesPage">Services Page</a></li>
          <li><a href="/contactMe">Contact Me</a></li>
        </ul>
  
        <ul class="navbar__icons">
          <li><i class="fab fa-google"></i></li>
          <li><i class="fab fa-slack"></i></li>
        </ul>
      </nav>

        <div class="backG">
            <img src="img/forest.jpg" alt="">
        </div>
        <div class="mainh1">
        <h1>Don't See Trees, See The Forest.
          <br>
          We have a long, hard way to go.  
        </h1>
        </div>

        <hr>
        <footer>
         Welcome My Website.
        </footer>
</body>
</html>